<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
</head>
<body>
    <h3>Hey <%=name %></h3>
    <button id="userBtn1">Mike</button>
    <button id="userBtn2">John</button>
    <button id="userBtn3">Tony</button>
    <br>
    <button id="logoutBtn">Sign Out</button>
</body>
<script>

    const userBtn1 = document.getElementById("userBtn1");
    const userBtn2 = document.getElementById("userBtn2");
    const userBtn3 = document.getElementById("userBtn3");

    const logOutBtn = document.getElementById("logoutBtn");

    userBtn1.addEventListener("click",()=>{      
        window.location.href = `/user/d601bt8lsxifng9`
    })
    userBtn2.addEventListener("click",()=>{
        window.location.href = `/user/d6019nglsxiq3ei`
    })
    userBtn3.addEventListener("click",()=>{
        window.location.href = `/user/d601rd4lsxtchn1`
    })

    logOutBtn.addEventListener("click",()=>{
        fetch('api/user/logout',{
            method: 'GET',  //not necessary to specify
        })
        .then(response => {
            if(response.redirected) {
                window.location.href = response.url
            }
        })
    })
</script>
</html>